<h1><%= @user.username.upcase %>'S PROFILE</h1>

<h3>Your Podcasts</h3>
<% if @user.podcasts.empty? %>
  <p>"You aren't currently subscribed to any podcasts."</p>
<% else %>
  <ul class="list">
    <% @user.podcasts.each do |pod| %>
      <li><%= link_to "#{pod.name}", podcast_path(pod) %></li>
    <% end %>
  </ul>
<% end  %>

<br>

<p>Click <%= link_to "here", podcasts_path %> to add a new Podcast or see what other users are listening to.</p>

<br><br>

<%= link_to "Edit User", edit_user_path %> |
<%= link_to "Delete User", user_path(@user), method: 'delete', confirm: "Are you sure?" %> |
