<h1><%= @user.username %>'s Profile</h1>

<h3>Your Podcasts</h3>
<% if @user.podcasts.empty? %>
  <p>"You aren't currently subscribed to any podcasts."</p>
<% else %>
  <ul>
    <% @user.podcasts.each do |pod| %>
      <li><%= link_to "#{pod.name}", podcast_path(pod) %></li>
    <% end %>
  </ul>
<% end  %>

<br>

<%# link_to "Subscribe to a new podcast" %>
<p>Need some inspiration? See what <%= link_to "podcasts", podcasts_path %> other users are listening to.</p>

<br><br>

<%= link_to "Home", root_path %> |
<%= link_to "Edit User", edit_user_path %> |
<%= link_to "Delete User", user_path(@user), method: 'delete' %> |
<%= link_to "Logout", logout_path, method: 'delete' %>