<h1>New Episode</h1>

<%= render partial: "layouts/errors", locals: { object: @episode } %>

<%= form_for(@episode, url: podcast_episodes_path) do |f| %>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>
  <br><br>
  
  <%= f.submit %>
<% end %>