<h1>New Podcast</h1>

<%= render partial: "layouts/errors", locals: { object: @podcast } %>

<%= form_for @podcast do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
  <br><br>
  
  <%= f.submit %>
<% end %>